In [21]:
import re
import pandas as pd
import numpy as np
import nltk
from sklearn.preprocessing import LabelEncoder

In [13]:
df = pd.read_json('../src/utility/final.json')
df = pd.DataFrame(df.data.values.tolist())
df.head()

,id,text,label,withheld
0,850490912954351616,Alex Brosas another idiot #ALDUBKSGoesToUS ht...,abusive,NaN
1,848791766853668864,"RT @ItIzBiz: as Nancy Reagan would say, 'just ...",abusive,NaN
2,850010509969465344,RT @MailOnline: The Nazi death gas so horrific...,normal,NaN
3,850433664890544128,I hate er chase because if the Bitch that work...,hateful,NaN
4,849282894682050564,But he still with the shits so he started smok...,abusive,NaN

In [14]:
df = df.drop(['id', 'withheld'], axis=1)
df.head()

                                                text    label
0  Alex Brosas another idiot #ALDUBKSGoesToUS  ht...  abusive
1  RT @ItIzBiz: as Nancy Reagan would say, 'just ...  abusive
2  RT @MailOnline: The Nazi death gas so horrific...   normal
3  I hate er chase because if the Bitch that work...  hateful
4  But he still with the shits so he started smok...  abusive

In [28]:
lb = LabelEncoder()
label = lb.fit_transform(df["label"])
label

array([0, 0, 2, ..., 3, 2, 3])

In [33]:
df = df.drop(["label"], axis='columns')
df.head()

                                                text
0  Alex Brosas another idiot #ALDUBKSGoesToUS  ht...
1  RT @ItIzBiz: as Nancy Reagan would say, 'just ...
2  RT @MailOnline: The Nazi death gas so horrific...
3  I hate er chase because if the Bitch that work...
4  But he still with the shits so he started smok...

In [36]:
df["label"]=label
df.head()

                                                text  label
0  Alex Brosas another idiot #ALDUBKSGoesToUS  ht...      0
1  RT @ItIzBiz: as Nancy Reagan would say, 'just ...      0
2  RT @MailOnline: The Nazi death gas so horrific...      2
3  I hate er chase because if the Bitch that work...      1
4  But he still with the shits so he started smok...      0

In [ ]:
# Preprocessing the data