In [2]:
import re
import pandas as pd
import numpy as np
import nltk

In [4]:
df = pd.read_json('../src/utility/final.json')
df = pd.DataFrame(df.data.values.tolist())
df.head()

,id,text,label,withheld
0,850490912954351616,Alex Brosas another idiot #ALDUBKSGoesToUS ht...,abusive,NaN
1,848791766853668864,"RT @ItIzBiz: as Nancy Reagan would say, 'just ...",abusive,NaN
2,850010509969465344,RT @MailOnline: The Nazi death gas so horrific...,normal,NaN
3,850433664890544128,I hate er chase because if the Bitch that work...,hateful,NaN
4,849282894682050564,But he still with the shits so he started smok...,abusive,NaN